<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598176630249-7fo962d9bnmv7ri8u18vdj2cckbpq6ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598176630249-7fo962d9bnmv7ri8u18vdj2cckbpq6ep</string>
	<key>API_KEY</key>
	<string>AIzaSyDEMMTeXUNYuH0OhE1ugXfi7hmx9_ONhWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>598176630249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.com.gader</string>
	<key>PROJECT_ID</key>
	<string>gader-bae73</string>
	<key>STORAGE_BUCKET</key>
	<string>gader-bae73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598176630249:ios:e9a89805642a770b13f778</string>
	<key>DATABASE_URL</key>
	<string>https://gader-bae73.firebaseio.com</string>
</dict>
</plist>