<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>جدير</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>gadeer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>to send media wiht users in consulting</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Need to run audio in bluetooth device</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Need to run audio in bluetooth device</string>
	<key>NSCalendarsUsageDescription</key>
	<string>need access to add consulting meeting to your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Need to access to your camera to make video consulting and take your photos</string>
	<key>NSContactsUsageDescription</key>
	<string>You can share data with your contacts</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>need to use location to improve experince in app</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>need to use location to improve experince in app</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need access to microphone to make voice call in consulting call</string>
	<key>NSMotionUsageDescription</key>
	<string>need to use motion  to improve experince in app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need access to your photos to chnage your profile photo and send photos in your consulting</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>need  access to speech to make your faste replay or write</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
